@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0b1221] text-white;
}

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  background-repeat: repeat;
  background-position: 0% 50%;
  animation: gradient-x 6s ease infinite;
}

